TrickOrTrigger/Library/
TrickOrTrigger/.vs/
TrickOrTrigger/Temp/
TrickOrTrigger/Logs/
TrickOrTrigger/Assets/Firebase/
TrickOrTrigger/Recordings/
TrickOrTrigger/Assets/118 sprite effects bundle/
TrickOrTrigger/Assets/2DCP/
TrickOrTrigger/Assets/Photon/
TrickOrTrigger/Assets/Plugins/
TrickOrTrigger/Assets/Spine/
TrickOrTrigger/Assets/Font/
TrickOrTrigger/Assets/TextMesh Pro/
TrickOrTrigger/Assets/GUI PRO Kit - Casual Game/
TrickOrTrigger/Assets/Spine 2D Character Assets/
TrickOrTrigger/Assets/Editor Default Resources/
TrickOrTrigger/Assets/Ultimate SFX Bundle - HD Remaster